@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
    font-family: 'Nanum Gothic', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
}
header {
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
[class^=sec] {
    height: calc(100vh - 101px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.inner {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100%;
}

/* sec1 */
.sec01 .s_Box {
    display: flex;
    width: 500px;
    height: 50px;
    padding: 0px 15px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid #000;
}
.sec01 .s_Box > .img {
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    position: relative;
}
.sec01 .s_Box > .img::before {
    content: "";
    background: url(/coffeekong/img/icons/search.svg) 50% 50% / 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
}
.sec01 .search_box {
    display: flex;
    justify-content: center;
    padding: 35px 0px;
}
.sec01 .main_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}
.sec01 .main_contents .visual_slide {
    height: 515px;
    width: 100%;
    position: relative;
}
.sec01 .main_contents .visual_slide > div {
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 515px;
}
.sec01 .main_contents .visual_slide > div.slide1 {
    background: url(/coffeekong/img/events1.jpg) no-repeat 50% 50% / cover;
}
.sec01 .main_contents .visual_slide > div.slide2 {
    background: url(/coffeekong/img/events2.png) no-repeat 50% 50% / cover;
}
.sec01 .main_contents .visual_slide > div.slide3 {
    background: url(/coffeekong/img/events3.png) no-repeat 50% 50% / cover;
}